.main-shop{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.shop-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
  margin: 120px 104px;
}
.cart-container{
  background-color: #FFE0B3;
  padding: 15px;
  position: sticky;
  top: 0;
}
.cart-container:hover{
  background-color: #eba438;
  color: white;
}

@media only screen and (max-width: 1400px)  {
  .shop-container{
    grid-template-columns: repeat(2, 1fr);
  }
}